fastapi
uvicorn
python-dotenv
langchain
langgraph
chromadb
openai
google-generativeai
langchain-google-genai
pydantic
python-dotenv
tiktoken
langchain-openai
langchain-core
langchain-community
pypdf 
pymupdf
sentence-transformers
faiss-cpu
grandalf
beautifulsoup4
langchain-chroma